@use "../variables";

.about-container {
  display: flex;
  flex-direction: row;
  padding-top: variables.$spacing-lg;
}

.about-image-container {
  max-width: 40%;
  align-self: center;
}

.about-hero-image {
  height: 90%;
  width: 100%;
  object-fit: cover;
  animation: slideInLeft 1s ease-out 0s 1;
}

.about-description {
  max-width: 60%;
  align-self: center;
  padding: 0 variables.$spacing-lg;
}

@media (max-width: variables.$breakpoint-mobile) {
  .about-container {
    flex-direction: column;
    padding-top: variables.$spacing-sm;
  }
  
  .about-image-container {
    max-width: 100%;
    margin-bottom: variables.$spacing-md;
  }
  
  .about-description {
    max-width: 100%;
    padding: 0 variables.$spacing-sm;
  }
}