@use "../variables";

.hero-text {
  position: relative;
  top: 30vh;
  width: 92vw;
  left: 4vw;
}

.scroll-arrow-container {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow {
  height: 3rem;
  width: 3rem;
}

@media ((max-height: 650px)
  and (not (max-width: variables.$breakpoint-mobile))
  ) {
  .hero-text {
    top: 25vh;

    h1 {
      font-size: variables.$font-heading-size-md;
    }
  }
}