@use "../variables";

.hero-text {
  position: absolute;
  top: 30%;
  left: 2rem;
}

.scroll-arrow-container {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow {
  height: 3rem;
  width: 3rem;
}

@media (max-width: variables.$breakpoint-mobile) {
  .hero-text {
    top: 40%;
    left: variables.$spacing-sm;
    right: variables.$spacing-sm;
    text-align: center;
  }
}